<div class="row">
  <div class="small-8 small-offset-2 columns">
    <h3>Hi, <%= @user.username.split(" ").first %>!</h3>
  </div>
</div>

<div class="row">
  <div class="user-card small-8 small-offset-2 columns">
    <div class="gravatar-container small-12 medium-4 columns">
      <%= image_tag current_user.avatar_url(160), class: "gravatar" %>
    </div>
    <div class="user-info-card small-12 medium-6 columns float-right end">
      <p><strong>Name:</strong> <%= @user.username %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    </div>
  </div>
</div>

<div class="token-section section">
  <%= render 'profiles/tokens' %>
</div>

<div class="user-section section">
  <%= render 'users/shared/user' %>
</div>
