<div class="row">
  <div class="small-8 small-offset-2 columns">
    <h3>Hi, <%= @user.username.split(" ").first %>!</h3>
  </div>
</div>

<div class="row">
  <div class="user-card small-8 small-offset-2 columns">
    <div class="gravatar-container small-12 medium-4 columns">
      <%= image_tag current_user.avatar_url(160), class: "gravatar" %>
    </div>
    <div class="user-info-card small-12 medium-6 columns float-right end">
      <p><strong>Name:</strong> <%= @user.username %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <%- if @user.g2_crowd_api_token.present? %>
        <p><strong>G2 Crowd API Token:</strong> <%= @user.g2_crowd_api_token %></p>
      <% end %>
      <%- if @user.mattermark_api_token.present? %>
        <p><strong>Mattermark API Token:</strong> <%= @user.mattermark_api_token %></p>
      <% end %>
      <%- if @user.glassdoor_key.present? %>
        <p><strong>Glassdoor Key:</strong> <%= @user.glassdoor_key %></p>
      <% end %>
      <%- if @user.glassdoor_partner_id.present? %>
          <p><strong>Glassdoor Partner ID:</strong> <%= @user.glassdoor_partner_id %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="user-section section">
  <%= render 'users/shared/user' %>
</div>
