<p id="notice"><%= notice %></p>

<h1>Listing Glassdoor Employers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glassdoor_employers.each do |glassdoor_employer| %>
      <tr>
        <td><%= link_to 'Show', glassdoor_employer %></td>
        <td><%= link_to 'Edit', edit_glassdoor_employer_path(glassdoor_employer) %></td>
        <td><%= link_to 'Destroy', glassdoor_employer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glassdoor employer', new_glassdoor_employer_path %>
